<div>
  <h1>{{title}}</h1>
  <p>user information : {{display( )}}</p>
  <p>user information : {{userInfo}}</p>
  <p>user information : {{show()}}</p>
</div>

<div>
  <h1>emploeey information : </h1>
  <p> hello all my empno : {{emp1.empno}},my name: {{emp1.ename}},and my salary : {{emp1.salary}}</p>
  <p> hello all my empno : {{emp2.empno}},my name: {{emp2.ename}},and my salary : {{emp2.salary}}</p>

</div>

<div>
  <h1>product informations</h1>

  <ul>
    <li *ngFor="let product of filteredProducts">{{ product.pName }}</li>
  </ul>
</div> 

<div>
  <h1>understanding Bilte-in-pipe</h1>
  <p>Data formatted : {{ today | date : "MM/dd/yyyy" }}</p>
  <p>My salary :{{salary | currency :'INR'}}</p>
  <p>Message :{{ message | uppercase }}</p>
  <p>Message :{{ pi | number :'3.2-2' }}</p>
  <p>The json formate data :{{ jsondata | json }}</p>
  <p>The sliced message from the greetings :{{ greeting| slice: 0:14 }}</p>
</div>

<div>
  <h1>understanding custome pipes </h1>
  <p>capitalize pipe : {{message2 | capitalize }}</p>
</div>